<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="sim_mode" default="false"/>

  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/inertial_macros.xacro"/>
  <!-- <xacro:include filename="$(find diffdrive_ddsm115)/urdf/diffbot_description.urdf.xacro" /> -->
  <xacro:include filename="robot_core.xacro" />

  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/imu.xacro" />
  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/lidar.xacro" />

  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find diffdrive_ddsm115)/urdf/diffbot.materials.xacro" /> -->

  <!-- Import diffbot ros2_control description -->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find diffdrive_ddsm115)/ros2_control/diffbot.ros2_control.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(find diffdrive_ddsm115)/ros2_control/gazebo.ros2_control.xacro" />
  </xacro:unless>

  <xacro:diffbot prefix="$(arg prefix)" />

  <xacro:diffbot_ros2_control
    name="DiffBot" prefix="$(arg prefix)" />


</robot>


