<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <!-- <xacro:include filename="robot_core.xacro" /> -->







  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/inertial_macros.xacro"/>
  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/diffbot_description.urdf.xacro" />

  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/lidar.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find diffdrive_ddsm115)/urdf/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find diffdrive_ddsm115)/ros2_control/diffbot.ros2_control.xacro" />
  <!-- <xacro:include filename="$(find diffdrive_ddsm115)/ros2_control/gazebo.ros2_control.xacro" /> -->


</robot>


